* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #f4f4f4;
    display: inline-block;
    text-align: center;
}

#logopng {
    height: 60px;
    position: absolute;
    top: 1%;
    left: 5%;
    width: 127px;
}

.gif-fone01 {
    height: 30px;
    position: absolute;
    right: 110px;
    top: 41px;
    width: 40px;
}

.phone-01 {
    position: absolute;
    right: 15px;
    top: 44px;
    color: #031927;
    cursor: pointer;
}

.gif-fone02 {
    height: 30px;
    position: absolute;
    right: 248px;
    top: 41px;
    width: 40px;
}

.phone-02 {
    position: absolute;
    right: 146px;
    top: 44px;
    color: #031927;
    cursor: pointer;
}

.nav-link {
    color: #fff;
}

.nav {
    border: none;
}

.gif-promot {
    height: 64px;
    position: absolute;
}

.header-logo {
    display: inline-block;
    text-align: center;
    height: 12vh;
    width: 100vw;
}

.img-bar {
    display: inline-block;
    text-align: center;
    height: 6vh;
    width: 100vw;
    margin-top: 0;
    margin-bottom: 2px;

}

.d-block {
    height: 180px;
}

.id-box {
    display: inline-block;
    text-align: center;
    width: 270px;
    margin-top: 10px;
    margin-left: 20px;
}

.amancotorcido22 {
    font-size: 27px;
    margin-top: 12px;
}

.amancotorcido23 {
    font-size: 29px;
    margin-top: 10px;
}

.amancoepoxibr {
    font-size: 28px;
    margin-top: 11px;
}

.grandlast {
    font-size: 34px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.grandlastbr {
    font-size: 24px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.tigreepoxi {
    font-size: 37px;
    margin-top: 11px;
}

.card-body {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

.id-box-prateleiras {
    float: left;
    width: 250px;
    height: 427px;
    margin: 15px 0 0 15px;
}

.cod-complement {
    font-size: 12px;
    font-style: italic;
    padding-left: 160px;
    margin-bottom: 21px;
    margin-top: 0px;
}
.img-stylo {
    height: 222px;
    width: 220px;
}
.img-stylo02 {
    height: 205px;
    width: 210px;
}
.h1-min {
    margin-top: -5px;
}

p {
    margin-top: 0;
    margin-bottom: 4px;
}

h1 {
    font-weight: 300;
    line-height: 35px;
    font-size: 27px;
    color: #0479c2;
    margin-top: 11px;
}

.h1-suportes {
    font-weight: 300;
    line-height: 26px;
    font-size: 19px;
    color: #010202;
    margin-bottom: -5px;
    margin-top: -34px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
}

.auge-fonte {
    font-size: 30px;
}

.discretion {
    line-height: 16px;
    font-size: 11px;
    font-weight: 600;
}

.texto {
    line-height: 16px;
    font-size: 13px;
}

.p-prateleiras {
    margin-top: 0;
    margin-bottom: 0rem;
}


.cod {
    margin: initial;
    font-size: 10px;
    font-style: italic;
    padding-left: 152px;
    color: #0479c2;
}

.whatsapp {
    right: 10px;
    bottom: 25px;
    position: fixed;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    background-color: #0479c2;
}

.nav-tabs .nav-link {
    font-size: 15px;
    padding-left: 150px;
    padding-right: 132px;
    border: none;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    margin-bottom: 1px;
}

.cores {
    background-color: #0479c2;
    width: 200px;
    border-radius: 25px;
}

.titulo {
    box-sizing: border-box;
    color: white;
    font-size: 21px;
    font-family: monospace;
}


.titul {
    padding-top: 0px;
    color: white;
    font-size: 27px;
    width: 50%;
    position: absolute;
    margin-left: 393px;
    margin-bottom: 2px;

}

.box-bicromado {
    width: 400px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: rgb(73, 80, 87);
    background-color: #f4f4f4;
    border: none;
}

.nav-tabs .nav-link {
    font-size: 15px;
    padding-left: 162px;
    padding-right: 120px;
    border: none;
    background-color: #026eb1;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

img {
    vertical-align: middle;
    border-style: none;
    height: 240px;
    width: 243px;
}

.oip {
    height: 240px;
    width: 223px;
}

.mb-5,
.my-5 {
    margin-bottom: 0rem !important;
}
.platibanda-cod {
    margin-bottom: 0px;
    margin-top: -4px;
}
.img-platibanda {
    height: 200px;
    width: 210px;
}
.minh1 {
    margin-bottom: 0px;
    margin-top: 8px;
}














@media screen and (max-width: 500px) {
    #logopng {
        height: 55px;
        position: absolute;
        top: 2%;
        left: 5%;
    }

    .id-box {
        margin-top: 25px;
        text-align: center;
        cursor: pointer;
        width: 350px;

    }

    .tabs-button {
        display: flex;
        height: 30px;
    }

    .tabs-button {
        font-size: 10px;
    }

    .id-box-prateleiras {
        height: 355px;
        width: 187px;
        line-height: 17px;
        margin: 12px -5px 0px 13px;
    }


    ul {
        background-color: #005d96;
        margin-bottom: 333px;
    }

    .id-box-prateleiras {
        float: left;
        height: 355px;
        line-height: 17px;
    }

    .card {
        line-height: 21px;
        font-size: 12px;
        height: 97px;
    }
    

    #lib-prateleira-invisivel {
        line-height: 21px;
        font-size: 11px;
        height: 111px;
    }

    .h1-suportes {
        margin: 5px 0;
        line-height: 18px;
        font-size: 17px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 6px;
    }

    .img-box {
        height: 272px;
        margin-top: 3px;
        width: 287px;
    }

    .nav-tabs .nav-link {
        font-size: 8px;
        padding-top: 10px;
        padding-left: 23px;
        padding-right: 12px;
        border: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        height: 30px;
    }

    .gif-fone01 {
        height: 30px;
        position: absolute;
        right: 110px;
        top: 68px;
    }

    .phone-01 {
        position: absolute;
        right: 15px;
        top: 71px;
        color: #031927;
        cursor: pointer;
    }

    .titul {
        color: white;
        font-weight: bold;
        font-size: 13px;
        position: absolute;
        margin-left: 110px;
        margin-bottom: 23px;
        padding-top: 0;

    }

    .img-bar {
        display: inline-block;
        text-align: center;
        height: 4vh;
        width: 100vw;
        margin-top: 0px;
        margin-bottom: -10px;
    }


    .my-5 {
        margin-bottom: 0rem !important;
    }
    .oip {
        height: 150px;
        width: 150px;
    }
    .phone-02 {
        position: absolute;
        right: 8px;
        top: 44px;
        color: #031927;
        cursor: pointer;
    }
    .gif-fone02 {
        height: 30px;
        position: absolute;
        right: 111px;
        top: 41px;
        width: 40px;
    }
}