* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    display: inline-block;
    text-align: center;

}

.gif-promot {
    height: 64px;
    position: absolute;

}


.header-logo {
    display: inline-block;
    text-align: center;
    height: 12vh;
    width: 100vw;

}

h3 {
    color: white;
    text-align: center;
}

.d-block {
    height: 180px;
}

.img-box {
    height: 150px;
    margin-top: 3px;
}

.id-box {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 270px;
    margin-top: 10px;
    margin-left: 20px;


}

.card-body {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

.id-box-prateleiras {
    float: left;
    width: 250px;
    height: 374px;
    margin: 15px 0 0 15px;
}

.h1-suportes {
    line-height: 33px;
    font-size: 20px;
    margin: 0;
}


.cod-complement {
    font-size: 12px;
    font-style: italic;
    padding-left: 160px;
    margin-bottom: -1px;
    margin-top: -18px;

}

h1 {
    line-height: 22px;
    font-weight: 300;
    color: #2E3332;
    margin-bottom: 18px;
    margin-top: 11px;
}

.discretion {
    line-height: 16px;
}

#corte {
    left: 70px;
    bottom: 138px;
    position: relative;
    font-size: 14px;
    font-style: italic;
}

.cod {
    margin: initial;
    font-size: 10px;
    font-style: italic;
    padding-left: 152px;
}

.whatsapp {
    right: 10px;
    bottom: 25px;
    position: fixed;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.tabs {

    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
}

.tabs-button button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    padding: 10px 16px;
    font-weight: bolder;
    color: #2E3332;
}

.tabs-button button:hover {
    background-color: #fbfbfb;
}


@media (max-width: 600px) {
    .id-box {
        display: block;
        text-align: center;
        cursor: pointer;
        width: 350px;
    }

    .tabs-button {
        display: flex;
        height: 33px;
    }

    .tabs-button {
        font-size: 10px;
    }
}