* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #f4f4f4;
    display: inline-block;
    text-align: center;
    margin: auto;
}



.w-100 {
    width: 100% !important;
    height: 12rem;
}


#logopng {
    height: 60px;
    position: absolute;
    top: 1%;
    left: 5%;
    width: 127px;
}

.gif-fone01 {
    height: 30px;
    position: absolute;
    right: 115px;
    top: 41px;
    width: 40px;
}

.phone-01 {
    position: absolute;
    font-weight: 800;
    right: 15px;
    top: 44px;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 1px 2px 3px black;
}

.gif-fone02 {
    height: 30px;
    position: absolute;
    right: 258px;
    top: 41px;
    width: 40px;
}

.phone-02 {
    position: absolute;
    font-weight: 800;
    right: 150px;
    top: 44px;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 1px 2px 3px black;
}

.nav-link {
    color: #fff;
}
.animation{position:relative;top: 1px;}
.animation:hover{top:-4px;box-shadow:0 4px 4px #999;
   transition: all .2s ease-in-out}


.header-logo {
    display: inline-block;
    text-align: center;
    height: 12vh;
    width: 100vw;
    margin-bottom: 1px;
}

.img-bar {
    display: inline-block;
    text-align: center;
    height: 6vh;
    width: 100vw;
    margin-top: 0;
    margin-bottom: 2px;

}



.id-box {
    display: inline-block;
    text-align: center;
    width: 270px;
    margin-top: 10px;
    margin-left: 5px;
}



.id-box-prateleiras {
    float: left;
    width: 250px;
    height: 427px;
    margin: 15px 0 0 15px;
}





p {
    margin-top: 0;
    margin-bottom: 4px;
}

h1 {
    font-weight: 300;
    line-height: 25px;
    font-size: 27px;
    color: #0479c2;
    font-weight: 700;
    font-size: 21px;
}

.h1-suportes {
    font-weight: 300;
    line-height: 26px;
    font-size: 19px;
    color: #010202;
    margin-bottom: -5px;
    margin-top: -34px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
}

.auge-fonte {
    font-size: 20px;
    line-height: 25px;
}

.discretion {
    line-height: 16px;
    font-size: 15px;
    font-weight: 600;
}

.texto {
    line-height: 16px;
    font-size: 13px;
}

.p-prateleiras {
    margin-top: 0;
    margin-bottom: 0rem;
}


.cod {
    margin: initial;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
    padding-left: 152px;
    color: #0479c2;
}

.whatsapp {
    right: 10px;
    bottom: 25px;
    position: fixed;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    background-color: #0479c2;
}



.titul {
    padding-top: 0px;
    color: white;
    font-size: 27px;
    width: 50%;
    position: absolute;
    margin-left: 393px;
    margin-bottom: 2px;

}

.box-bicromado {
    width: 400px;
}






img {
    vertical-align: middle;
    border-style: none;
    height: 240px;
    width: 243px;
}

.oip {
    height: 240px;
    width: 223px;
}

.COD440 {

    width: 175px;
}

.oip-img {
    height: 213px;
    width: 235px;
}

.img-cod21 {
    width: 250px;
    height: 189px;
    margin-top: 25px;
}

.img-cod22 {
    width: 214px;
    height: 214px;
}

.img-cod71 {
    width: 200px;
    height: 214px;
}

.my-5 {
    margin-bottom: 1rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 0rem !important;
}

.minh1 {
    margin-bottom: 0px;
    margin-top: 8px;
}

.cinza {
    background-color: #eceff1;
}

td {
    padding: 4px 46px 4px 24px;
    color: #026eb1;
}

.btn-primary {
    margin: 8px 0;
}



.plantas {
    margin-top: 30px;
    margin-bottom: 23px;
    height: 185px;

}



.nav-tabs .nav-link {
    height: 32px;
    border-radius: 20px;
    margin: 4px 4px 4px 21px;
    text-shadow: rgb(2, 110, 177) 0px 1px 2px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.navegation {
    display: inline-block;
    text-align: center;
    background-color: rgb(2, 110, 177);
    width: 100%;
    height: 40px;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    height: 38px;
    background-color: rgb(2, 110, 177);
    list-style: none;
}

.min-text {
    font-weight: 700;
    font-size: 21px;
    color: #0479c2;
    margin-top: 11px;
}

footer {
    background-color: #005d96;
    width: 100vw;
    height: 64vh;
    margin-top: 10px;
    display: inline-block;
}

.mapa-logo {
    opacity: 0.2;
    right: 38%;
    top: 203px;
    position: relative;
}

.logo-png {
    position: relative;
    right: 47%;
    height: 107px;
    bottom: 22px;
}

.box-footer {
    position: relative;
    left: 38%;
    height: 143px;
    display: inline-grid;
    bottom: 129px;

}

.map {
    position: relative;
    display: inline-grid;
    background-color: red;

}

.box-map {
    position: relative;
    left: 13%;
    width: 320px;
    height: 143px;
    bottom: 170px;
}

.phone-footer {
    font-weight: 800;
    font-size: 25px;
    color: white;
    text-shadow: 2px 4px 5px black;
}

.contatos {
    font-weight: 800;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 2px 4px 5px black;
}

.e-mail {
    font-weight: 800;
    margin-top: 10px;
    font-size: 23px;
    color: #ffffff;
    margin-right: 10px;
    text-shadow: 2px 4px 5px black;
}

.endereco {
    font-weight: 100;
    margin-top: 10px;
    padding: 14px;
    position: relative;
    right: 135px;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 4px 5px black;
}

#myTab {
    display: flex;
    justify-content: space-between;
}










@media screen and (max-width: 1130px) {

    .nav-tabs .nav-link {
        font-size: 15px;
        padding-left: 41px;
        padding-right: 120px;
        border: none;
        background-color: rgb(2, 110, 177);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        min-width: 100%;
        max-width: 1000px;
    }
}




@media screen and (max-width: 517px) {
    #logopng {
        height: 55px;
        position: absolute;
        top: 2%;
        left: 5%;
    }

    .id-box {
        margin-top: 25px;
        text-align: center;
        cursor: pointer;
        width: 350px;

    }

    .tabs-button {
        display: flex;
        height: 30px;
    }

    .tabs-button {
        font-size: 10px;
    }

    .id-box-prateleiras {
        height: 355px;
        width: 187px;
        line-height: 17px;
        margin: 12px -5px 0px 13px;
    }


    ul {
        background-color: #005d96;
        margin-bottom: 333px;
    }

    .id-box-prateleiras {
        float: left;
        height: 355px;
        line-height: 17px;
    }

    #lib-prateleira-invisivel {
        line-height: 21px;
        font-size: 11px;
        height: 111px;
    }

    .h1-suportes {
        margin: 5px 0;
        line-height: 18px;
        font-size: 17px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 6px;
    }


    .nav-tabs .nav-link {
        height: 25px;
        border-radius: 20px;
        margin: 2px 0px 0px 0px;
        font-size: 8px;
        padding: 9px 5px 0 5px;
        font-weight: bolder;
    }

    .gif-fone01 {
        right: 110px;
        top: 68px;
    }

    .phone-01 {
        right: 15px;
        top: 71px;
        ;
        padding-right: 12px;
        font-size: 13px;
    }

    .titul {
        color: white;
        font-weight: bold;
        font-size: 13px;
        position: absolute;
        margin-left: 110px;
        margin-bottom: 23px;
        padding-top: 0;

    }

    .img-bar {
        display: inline-block;
        text-align: center;
        height: 4vh;
        width: 100vw;
        margin-top: 0px;
        margin-bottom: -10px;
    }


    .my-5 {
        margin-bottom: 0rem !important;
    }

    .oip {
        height: 150px;
        width: 150px;
    }

    .phone-02 {
        right: 8px;
        top: 44px;
        padding-right: 12px;
        font-size: 13px;
    }

    .gif-fone02 {
        height: 27px;
        right: 111px;
    }

    .nav {
        height: 29px;
        background-color: rgb(2, 110, 177);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    td {
        padding: 4px 0px 4px 24px;
        color: #026eb1;
    }

    .mapa-logo {
        opacity: 0.2;
        right: 13%;
        top: 33px;
        height: 180px;
        width: 170px;
        position: relative;
    }

    .logo-png {
        position: relative;
        right: 50%;
        height: 79px;
        width: 144px;
        bottom: 22px;
    }

    .phone-footer {
        font-size: 12px;

    }

    .e-mail {
        font-size: 12px;

    }

    footer {
        height: 37vh;
        display: inline-block;
    }

    .contatos {
        font-weight: 800;
        font-size: 22px;
        color: #ffffff;
        text-shadow: 2px 4px 5px black;
    }

    .box-footer {
        position: relative;
        left: 31%;
        height: 143px;
        display: inline-grid;
        bottom: 137;
    }

    .endereco {
        font-size: 10px;
        font-weight: 600;
    }

    .box-map {
        position: sticky;
    }

    .endereco {
        margin-left: 100px;
    }

    .w-100 {
        width: 100% !important;
        height: 7rem;
    }

}